<!DOCTYPE html>
<html>
<head>
    {% load i18n %}
    {% load static %}
    <title>{% trans "Añadir Rol de IA" %}</title>
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
    <script type="text/javascript">
        function closePopup() {
            opener.dismissAddRelatedObjectPopup(window, "{{ object.pk }}", "{{ object.nombre|escapejs }}");
        }
        
        {% if object %}
            closePopup();
        {% endif %}
    </script>
</head>
<body>
    <div id="content-main">
        <h1>{% trans "Añadir Rol de IA" %}</h1>
        <form method="post" id="rol_ia_form">
            {% csrf_token %}
            <div>
                {% if form.errors %}
                    <p class="errornote">
                        {% if form.errors.items|length == 1 %}{% trans "Por favor corrija el error a continuación." %}{% else %}{% trans "Por favor corrija los errores a continuación." %}{% endif %}
                    </p>
                    {{ form.non_field_errors }}
                {% endif %}
                
                <fieldset class="module aligned">
                    <div class="form-row">
                        <div class="field-box">
                            <label for="{{ form.nombre.id_for_label }}">{% trans "Nombre" %}:</label>
                            {{ form.nombre }}
                            {% if form.nombre.errors %}
                                <ul class="errorlist">
                                    {% for error in form.nombre.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="field-box">
                            <label for="{{ form.descripcion.id_for_label }}">{% trans "Descripción" %}:</label>
                            {{ form.descripcion }}
                            {% if form.descripcion.errors %}
                                <ul class="errorlist">
                                    {% for error in form.descripcion.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </fieldset>
                
                <div class="submit-row">
                    <input type="submit" value="{% trans 'Guardar' %}" class="default" name="_save">
                </div>
            </div>
        </form>
    </div>
</body>
</html>
